@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100wh;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: $color6;
}

a {
  color: $color6;
  text-decoration: none;
}